<div class="svg-template">
    <app-horizontal-pipe></app-horizontal-pipe>
    <app-vertical-pipe></app-vertical-pipe>
    <app-top-valve></app-top-valve>
    <app-bottom-valve></app-bottom-valve>
    <app-right-valve></app-right-valve>
    <app-left-valve></app-left-valve>
    <app-crosspipe></app-crosspipe>
    <app-top-tway></app-top-tway>
    <app-bottom-tway></app-bottom-tway>
    <app-right-tway></app-right-tway>
    <app-left-tway></app-left-tway>
    <app-left-top-elbow></app-left-top-elbow>
    <app-right-top-elbow></app-right-top-elbow>
    <app-left-bottom-elbow></app-left-bottom-elbow>
    <app-right-bottom-elbow></app-right-bottom-elbow>
    <app-vertical-tank></app-vertical-tank>
    <app-horizontal-tank></app-horizontal-tank>
    <app-cutaway></app-cutaway>
    <app-pump></app-pump>
    <app-pipe-end-bottom></app-pipe-end-bottom>
    <app-pipe-end-top></app-pipe-end-top>
    <app-pipe-end-right></app-pipe-end-right>
    <app-pipe-end-left></app-pipe-end-left>
    <app-vertical-rotor></app-vertical-rotor>
    <app-horizontal-rotor></app-horizontal-rotor>
</div>
<!--这里提供展示区域-->
<div class="title">
    <h2>Scada Demo(SVG)</h2>
</div>

<div class="content">
    <svg class="svg-show-content"></svg>
</div>