export (<svg class = "bottom-tway" width='100%' height='100%' data-bind="ctrlId: 'bottomTway'" viewBox="0 0 100 100">
      <linearGradient data-bind="resId: 'horPipeGrad'" y1='-20%' x1='0%' y2='100%' x2='0%' gradientUnits='objectBoundingBox'>
        <stop  offset='-20%' data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>
        <stop  offset='40%' data-bind="attr: {'stop-color': (typeof bodyColorLight === 'undefined' ? '#D0D0D0': bodyColorLight())}"></stop>
        <stop  offset='100%'  data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>/>
      </linearGradient>
      <linearGradient data-bind="resId: 'horFillGrad'" x1='0%' y1='-50%' x2='0%' y2='150%' gradientUnits='objectBoundingBox'>
        <stop  offset='-50%' data-bind="attr: {'stop-color': (typeof fillColorLight === 'undefined' ? '#FFFFFF': fillColorLight())}"></stop>
        <stop  offset='75%' data-bind="attr: {'stop-color': (typeof fillColor === 'undefined' ? '#0000FF': fillColor())}"></stop>
        <stop  offset='150%' data-bind="attr: {'stop-color': (typeof fillColorLight === 'undefined' ? '#FFFFFF': fillColorLight())}"></stop>
      </linearGradient>
      <linearGradient data-bind="resId: 'vertPipeGrad'" x1='-20%' y1='0%' x2='100%' y2='0%' gradientUnits='objectBoundingBox'>
        <stop  offset='-20%' data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>
        <stop  offset='40%' data-bind="attr: {'stop-color': (typeof bodyColorLight === 'undefined' ? '#D0D0D0': bodyColorLight())}"></stop>
        <stop  offset='100%'  data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>/>
      </linearGradient>
      <linearGradient data-bind="resId: 'vertFillGrad'" x1='-50%' y1='0%' x2='150%' y2='0%' gradientUnits='objectBoundingBox'>
        <stop  offset='-50%' data-bind="attr: {'stop-color': (typeof fillColorLight === 'undefined' ? '#FFFFFF': fillColorLight())}"></stop>
        <stop  offset='75%' data-bind="attr: {'stop-color': (typeof fillColor === 'undefined' ? '#0000FF': fillColor())}"></stop>
        <stop  offset='150%' data-bind="attr: {'stop-color': (typeof fillColorLight === 'undefined' ? '#FFFFFF': fillColorLight())}"></stop>
      </linearGradient>
      <rect x='0%' y='30%'   width='100%' height='40%' data-bind="fillResId: 'horPipeGrad'"></rect>
      <path d="M30,100 L30,70 L50,50 L70,70 L70,100 Z" data-bind="fillResId: 'vertPipeGrad'"></path>
      <g data-bind="style: { display: typeof value != 'undefined' && value() ? 'block' : 'none'}">
        <rect x='0%' y='40%'   width='100%' height='20%' data-bind="fillResId: 'horFillGrad'" ></rect>
        <path d="M40,100 L40,60 L50,50 L60,60 L60,100 Z" data-bind="fillResId: 'vertFillGrad'"></path>
      </g>
    </svg>);