<svg width='100%' height='100%' data-bind="ctrlId: 'rightValve'" viewBox="0 0 100 100">
  <linearGradient data-bind="resId: 'horPipeGrad'" y1='-20%' x1='0%' y2='100%' x2='0%' gradientUnits='objectBoundingBox'>
    <stop  offset='-20%' data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>
    <stop  offset='40%' data-bind="attr: {'stop-color': (typeof bodyColorLight === 'undefined' ? '#D0D0D0': bodyColorLight())}"></stop>
    <stop  offset='100%'  data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>/>
  </linearGradient>
  <linearGradient data-bind="resId: 'vertPipeGrad'" x1='-20%' y1='0%' x2='100%' y2='0%' gradientUnits='objectBoundingBox'>
    <stop  offset='-20%' data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>
    <stop  offset='40%' data-bind="attr: {'stop-color': (typeof bodyColorLight === 'undefined' ? '#D0D0D0': bodyColorLight())}"></stop>
    <stop  offset='100%'  data-bind="attr: {'stop-color': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}"></stop>/>
  </linearGradient>

  <g data-bind="style: { display: typeof value != 'undefined' && value() ? 'block' : 'none'}">
    <rect x='25%' y='45%' rx='0%' ry='0%' width='50%' height='10%' data-bind="fillResId: 'horPipeGrad'"></rect>
    <path d="M58,44 L60,56 M53,44 L55,56 M48,44 L50,56 M43,44 L45,56 M38,44 L40,56 M33,44 L35,56 M28,44 L30,56 M23,44 L25,56 " data-bind="attr: {'stroke': (typeof bodyColor === 'undefined' ? '#303030': bodyColor())}" stroke-width="2" opacity="0.7"></path>
    <rect x='75%' y='5%' rx='10%' ry='10%' width='20%' height='90%' data-bind="fillResId: 'vertPipeGrad'"></rect>
  </g>
  <rect x='0%' y='25%' rx='0' ry='0' width='5%' height='50%' data-bind="fillResId: 'horPipeGrad'"></rect>
  <rect  x='5%' y='30%' rx='5%' ry='5%' width='20%' height='40%' data-bind="fillResId: 'horPipeGrad'"></rect>
  <g data-bind="style: { display: typeof value != 'undefined' && value() ? 'none' : 'block'}">
    <rect x='25%' y='45%' rx='0%' ry='0%' width='15%' height='10%' data-bind="fillResId: 'horPipeGrad'"></rect>
    <rect x='40%' y='5%' rx='10%' ry='10%' width='20%' height='90%' data-bind="fillResId: 'vertPipeGrad'"></rect>
    <circle cx='50%' cy='50%' r='25%' class='valveStopSignBackground' ></circle>
    <circle cx='50%' cy='50%' r='22%' class='valveStopSignBorder'></circle>
    <rect  x='35%' y='45%' rx='0%' ry='0%' width='30%' height='10%' class='valveStopSignBrick' ></rect>
  </g>
  <g data-bind="style: { display: hasFocus() ? 'block' : 'none'}">
    <circle cx="50%" cy="50%" r="10%" class="crossHair"></circle>
    <circle cx="50%" cy="50%" r="5%" class="crossHair"></circle>
    <rect x="5%" y="5%" width="90%" height="90%" rx="5%" ry="5%" class="crossHair"></rect>
  </g>
</svg>